<h3>Assignment1</h3>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Create two new Components (manually or with CLI): WarningAlert and SuccessAlert</li>
        <li>Output them beneath each other in the AppComponent</li>
        <li>Output a warning or success message in the Components</li>
        <li>Style the Components appropriately (maybe some red/ green text?)</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <app-assignment1-warning-alert></app-assignment1-warning-alert>
  </div>
  <div class="row">
    <app-assignment1-success-alert></app-assignment1-success-alert>
  </div>
</div>

