<h3>Assignment2</h3>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>add a input field which updates a property via Two-Way-Binding;</li>
        <li>output the username property via String interpolation</li>
        <li>add a button only can be clicked if the username is not empty</li>
        <li>on clicking the button, the username should be reset to an empty string</li>
      </ol>
    </div>
  </div>
</div>

<div class="container">
<input type="text" class="form-control" [(ngModel)] = "username">
<p>Name: {{ username }}</p>

<button class="btn btn-primary" [disabled]="btnStatus">button</button>
</div>

